<div class="card card-body shadow-sm border-0 h-100 d-flex justify-content-center">
  <div class="d-flex align-items-center gap-3">
    <div
      class="d-flex align-items-center justify-content-center flex-shrink-0 bg-light rounded-circle p-3 p-md-4"
    >
      <mat-icon class="awwp-text-primary">{{ icon() }}</mat-icon>
    </div>

    <div class="d-flex flex-column min-w-0">
      <p class="m-0 text-secondary small">{{ title() }}</p>
      <p class="m-0 fs-5 fs-md-4 fw-bold awwp-text-primary text-break">{{ subtitle() }}</p>
    </div>
  </div>
</div>
