<div class="d-flex flex-column gap-4 mb-auto">
  <!-- Header -->
  <div class="d-flex flex-column flex-md-row justify-content-md-between gap-3">
    <div class="d-flex flex-column gap-2">
      <h3 class="m-0 awwp-text-primary">1. Persoonlijke situatie</h3>
      <p class="m-0 awwp-text-secondary">Vul uw persoonlijke gegevens in.</p>
    </div>
    <p class="fs-6 bg-light p-3 rounded align-self-start m-0 text-secondary">Stap 1 van 4</p>
  </div>

  <!-- Formulier -->
  <div class="d-flex flex-column flex-md-row justify-content-between gap-md-4 gap-3">
    <div class="d-flex flex-column flex-item gap-3">
      <div class="d-flex flex-column gap-1">
        <label for="geboortedatum" class="awwp-text-primary fs-6 fw-bold">Geboortedatum</label>
        <small class="m-0 text-secondary"
          >Uw geboortedatum kan invloed hebben op de hoogte van uw hypotheek.</small
        >
        <input class="form-control" type="date" id="geboortedatum" />
      </div>

      <div class="d-flex flex-column gap-1">
        <label for="relatiestatus" class="awwp-text-primary fs-6 fw-bold">Relatiestatus</label>
        <select class="form-control" id="relatiestatus">
          <option value="">Selecteer uw situatie</option>
          <option value="">Gehuwd</option>
          <option value="">Ongehuwd</option>
        </select>
      </div>
    </div>

    <div class="flex-item">
      <div class="alert alert-warning m-0 d-flex flex-row gap-3">
        <mat-icon class="icon-size flex-shrink-0">info</mat-icon>
        <div class="d-flex flex-column gap-2">
          <p class="m-0">{{ warningContent() }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Navigatie -->
  <div class="d-flex flex-column flex-md-row justify-content-md-between gap-4">
    <button class="btn btn-light border p-3">Opslaan en verder</button>
    <button class="btn border p-3 awwp-bg-primary" (click)="next.emit()">Volgende</button>
  </div>

  <hr class="m-0" />

  <div class="d-flex flex-row gap-3">
    <mat-icon class="icon-size awwp-text-primary flex-shrink-0">info</mat-icon>
    <p class="m-0 text-secondary">
      Uw gegevens worden alleen gebruikt voor deze berekening en niet opgeslagen in een database.
    </p>
  </div>
</div>
