<div class="d-flex flex-column gap-4 mb-auto">
  <!-- Header -->
  <div class="d-flex flex-column flex-md-row justify-content-md-between gap-3">
    <div class="d-flex flex-column gap-2">
      <h3 class="m-0 awwp-text-primary">1. Persoonlijke situatie</h3>
      <p class="m-0 awwp-text-secondary">Vul uw persoonlijke gegevens in.</p>
    </div>
    <p class="fs-6 bg-light p-3 rounded align-self-start m-0 text-secondary">Stap 1 van 4</p>
  </div>

  <!-- Formulier -->
  <div class="d-flex flex-column flex-md-row justify-content-between gap-3">
    <div class="d-flex flex-column flex-item gap-3">
      <div>
        <label for="geboortedatum" class="awwp-text-primary fs-6 fw-bold">Geboortedatum</label>
        <input class="form-control" type="date" id="geboortedatum" />
      </div>

      <div>
        <label for="relatiestatus" class="awwp-text-primary fs-6 fw-bold">Relatiestatus</label>
        <select class="form-control" id="relatiestatus">
          <option value="">Selecteer uw situatie</option>
          <option value="">Gehuwd</option>
          <option value="">Ongehuwd</option>
        </select>
      </div>
    </div>

    <div class="d-flex flex-column flex-item gap-4">
      <div>
        <p class="awwp-text-primary m-0 fw-bold">Heeft u een partner?</p>
        <div class="d-flex gap-2">
          <button class="btn btn-light py-2 border flex-fill bg-transparent">Ja</button>
          <button class="btn btn-light py-2 border flex-fill bg-transparent">Nee</button>
        </div>
      </div>

      <div class="alert alert-warning m-0 d-flex flex-row gap-3">
        <mat-icon class="icon-size flex-shrink-0">info</mat-icon>
        <p class="m-0">
          Deze bewerking is een indicatie en geen offerte. Wilt u persoonlijk advies, neem dan
          contact met ons op.
        </p>
      </div>
    </div>
  </div>

  <!-- Navigatie -->
  <div class="d-flex flex-column flex-md-row justify-content-md-between gap-4">
    <button class="btn btn-light border p-3">Opslaan en verder</button>
    <button class="btn btn-light border p-3">Volgende</button>
  </div>

  <hr class="m-0" />

  <div class="d-flex flex-row gap-3">
    <mat-icon class="icon-size awwp-text-primary flex-shrink-0">info</mat-icon>
    <p class="m-0 text-secondary">
      Uw gegevens worden alleen gebruikt voor deze berekening en niet opgeslagen in een database.
    </p>
  </div>
</div>
