<div class="card bg-transparent mb-4">
  <div class="card-body">
    <div class="d-flex gap-4">
      <app-stepper (stepChanged)="onStepChanged($event)"></app-stepper>
      @switch (selectedStep()) {
        @case (0) {
          <app-stap-1 class="flex-grow-1 p-4"></app-stap-1>
        }

        @case (1) {
          <app-stap-2 class="flex-grow-1 p-4"></app-stap-2>
        }

        @case (2) {
          <app-stap-3 class="flex-grow-1 p-4"></app-stap-3>
        }

        @case (3) {
          <app-stap-4 class="flex-grow-1 p-4"></app-stap-4>
        }
      }
    </div>
  </div>
  <div class="card-footer">
    <span>Uw gegevens worden alleen gebruikt voor deze berekening.</span>
  </div>
</div>
