<div class="d-flex flex-column flex-item gap-3">
  <div class="d-flex flex-column gap-1">
    <label class="ewfwp-text-primary fs-6 fw-bold" for="geboortedatum">Geboortedatum</label>
    <small class="m-0 text-secondary"
      >Uw geboortedatum kan invloed hebben op de hoogte van uw hypotheek.</small
    >
    <input class="form-control" id="geboortedatum" type="date" [formField]="form.dateOfBirth" />
    <div
      class="alert alert-danger m-0"
      data-testid="date-of-birth-error"
      role="alert"
      [class.visually-hidden]="
        !form.dateOfBirth().touched() || form.dateOfBirth().errors().length === 0
      "
    >
      @for (error of form.dateOfBirth().errors(); track error) {
        <p class="m-0">{{ error.message }}</p>
      }
    </div>
  </div>

  <div class="d-flex flex-column gap-1">
    <label class="ewfwp-text-primary fs-6 fw-bold" for="status">Relatiestatus</label>
    <select class="form-control" id="status" [formField]="form.status">
      <option value="">Selecteer uw situatie</option>
      <option value="married">Gehuwd</option>
      <option value="single">Ongehuwd</option>
    </select>
    <div
      class="alert alert-danger m-0"
      data-testid="status-error"
      role="alert"
      [class.visually-hidden]="!form.status().touched() || form.status().errors().length === 0"
    >
      @for (error of form.status().errors(); track error) {
        <p class="m-0">{{ error.message }}</p>
      }
    </div>
  </div>
</div>
