<div class="d-flex flex-column flex-item gap-3">
  <div class="d-flex flex-column gap-1">
    <label for="geboortedatum" class="awwp-text-primary fs-6 fw-bold">Geboortedatum</label>
    <small class="m-0 text-secondary"
      >Uw geboortedatum kan invloed hebben op de hoogte van uw hypotheek.</small
    >
    <input [formField]="form.dateOfBirth" class="form-control" id="geboortedatum" type="date" />
  </div>

  <div class="d-flex flex-column gap-1">
    <label for="relatiestatus" class="awwp-text-primary fs-6 fw-bold">Relatiestatus</label>
    <select [formField]="form.status" class="form-control" id="relatiestatus">
      <option value="">Selecteer uw situatie</option>
      <option value="married">Gehuwd</option>
      <option value="single">Ongehuwd</option>
    </select>
  </div>
</div>

<div class="alert alert-warning m-0 d-flex flex-row gap-3 flex-item">
  <mat-icon class="icon-size flex-shrink-0">info</mat-icon>
  <div class="d-flex flex-column gap-2">
    <p class="m-0">
      Deze bewerking is puur een indicatie en geen offerte. Wilt u persoonlijk advies, neem dan
      contact met ons op.
    </p>
    <p class="m-0">U kunt contact met ons opnemen via de website, of bel naar 06-1594864</p>
  </div>
</div>
