<main class="row">
  <div class="col-md-6">
    <h1 class="mb-3 h3">Bereken hier uw hypotheek.</h1>
    <app-form (formError)="formError = $event" (formData)="setFormData($event)"></app-form>
  </div>
  <div class="col-md-6">
    @if (formError) {
      <div class="alert alert-danger">
        Er is iets mis gegaan. Wellicht heeft u niet alle waardes in de berekening goed gezet.
      </div>
    }

    @if (!formError && formData) {
      <app-calculation [formData]="formData"></app-calculation>
    }
  </div>
</main>
