<main class="row w-100">
  <div class="col-md-6">
    <app-form (formData)="formData.set($event)" (formError)="formError.set($event)" />
  </div>
  <div class="col-md-6">
    <div class="alert alert-danger" role="alert" [class.d-none]="!formError()">
      @if (formError()) {
        Er is iets mis gegaan. Wellicht heeft u niet alle waardes in de berekening goed gezet.
      }
    </div>

    @if (!formError() && formData()) {
      <app-calculation [formData]="formData()!" />
    }
  </div>
</main>
