<div class="d-flex flex-column gap-3">
  <app-header
    title="Uw maximale hypotheek"
    subtitle="Op basis van de ingevulde gegevens is uw indicatie:"
    [step]="4"
  />

  <div class="d-flex flex-item flex-column gap-3">
    <div class="alert alert-warning m-0 p-4">
      <p class="m-0 fs-1">&euro; 335.000</p>
      <p class="m-0 text-secondary">Indicatie maximale hypotheek</p>
    </div>
  </div>

  <div class="bg-light border-none rounded p-4">
    <div class="d-flex flex-item flex-column gap-3">
      <p class="fs-4 awwp-text-primary m-0">Berekening gebasseerd op:</p>

      <div class="d-flex flex-row gap-2">
        <app-card
          class="flex-fill"
          title="Uw bruto jaarinkomen"
          subtitle="&euro; 30.000,-"
          icon="person_outline"
        />
        <app-card
          class="flex-fill"
          title="Jaarinkomen partner"
          subtitle="&euro; 20.000,-"
          icon="people_outline"
        />
        <app-card
          class="flex-fill"
          title="Totaal bruto jaarinkomen"
          subtitle="&euro; 50.000,-"
          icon="euro_symbol"
        />
      </div>

      <div class="d-flex gap-2">
        <button class="btn btn-light py-2 border flex-fill" (click)="resetFlow.emit()">
          Opnieuw berekening maken
        </button>
        <button class="btn btn-light py-2 border flex-fill" (click)="navigate()">
          Persoonlijk advies aanvragen
        </button>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row gap-3">
    <mat-icon class="flex-shrink-0">info</mat-icon>
    <div class="d-flex flex-column gap-2">
      <p class="m-0">
        Deze berekening is een indicatie en geen offerte. Aan de berekening kunnen geen rechten
        worden ontleend.
      </p>
    </div>
  </div>
</div>

<!--account_balance-->
<!--calendar_today-->
