<div class="d-flex flex-column flex-item gap-3">
  <div class="d-flex flex-item flex-column gap-3">
    <div class="alert alert-warning m-0 p-4">
      <p class="m-0 fs-1">{{ maxMortgage() | currency: 'EUR' }}</p>
      <p class="m-0 text-secondary">Indicatie maximale hypotheek</p>
    </div>
  </div>

  <div class="bg-light border-none rounded p-4">
    <div class="d-flex flex-item flex-column gap-3">
      <p class="fs-4 awwp-text-primary m-0">Berekening gebasseerd op:</p>
      <div class="d-flex flex-wrap gap-3">
        <app-card
          class="flex-fill"
          title="Uw bruto jaarinkomen"
          [subtitle]="(income() | currency: 'EUR') ?? 'N/A'"
          icon="person_outline"
        />
        <app-card
          class="flex-fill"
          title="Jaarinkomen partner"
          [subtitle]="(partnerIncome() | currency: 'EUR') ?? 'N/A'"
          icon="people_outline"
        />
        <app-card
          class="flex-fill"
          title="Totaal bruto jaarinkomen"
          [subtitle]="(totalIncome() | currency: 'EUR') ?? 'N/A'"
          icon="euro_symbol"
        />
      </div>

      <div class="d-flex flex-wrap gap-3">
        <app-card
          class="flex-fill"
          title="Berekende maandlast"
          [subtitle]="(monthlyCosts() | currency: 'EUR') ?? 'N/A'"
          icon="calendar_today"
        />
        <app-card
          class="flex-fill"
          title="Benodigde eigengeld"
          [subtitle]="(ownContribution() | currency: 'EUR') ?? 'N/A'"
          icon="account_balance"
        />
        <!-- if relevant -->
        <app-card
          class="flex-fill"
          title="Overdrachtsbelasting"
          [subtitle]="(transferTax() | currency: 'EUR') ?? 'N/A'"
          icon="calendar_today"
        />
        <!-- else eigengeld? -->
      </div>
      <div class="d-flex gap-2">
        <button
          #calculateAgainButton
          (click)="resetFlow.emit()"
          class="btn btn-light py-2 border flex-fill"
        >
          Opnieuw berekening maken
        </button>
        <button class="btn btn-light py-2 border flex-fill" (click)="navigate()">
          Persoonlijk advies aanvragen
        </button>
      </div>
    </div>
  </div>
</div>
