<div class="d-flex flex-column gap-3">
  <app-header
    title="Uw maximale hypotheek"
    subtitle="Op basis van de ingevulde gegevens is uw indicatie:"
    [step]="4"
  />

  <div class="d-flex flex-item flex-column gap-3">
    <div class="alert alert-warning m-0 p-4">
      <p class="m-0 fs-1">&euro; 335.000</p>
      <p class="m-0 text-secondary">Indicatie maximale hypotheek</p>
    </div>
  </div>

  <div class="bg-light border-none rounded p-4">
    <div class="d-flex flex-item flex-column gap-4">
      <h4 class="awws-text-primary m-0">Wat betekent dit?</h4>
      <ul class="m-0 list-group list-unstyled">
        <li>Dit is het bedrag dat u waarschijnlijk kunt lenen.</li>
        <li>Inclusief Nationale Hypotheek garantie (indien van toepassing).</li>
        <li>Gebasseerd op uw inkomen en uitgaven</li>
        <li>Definitieve berekening na persoonlijk advies.</li>
      </ul>
      <div class="d-flex gap-2">
        <button class="btn btn-light py-2 border flex-fill" (click)="resetFlow.emit()">
          Opnieuw berekening maken
        </button>
        <button class="btn btn-light py-2 border flex-fill" (click)="navigate()">
          Persoonlijk advies aanvragen
        </button>
      </div>
    </div>
  </div>

  <div class="d-flex flex-row gap-3">
    <mat-icon class="icon-size flex-shrink-0">info</mat-icon>
    <div class="d-flex flex-column gap-2">
      <p class="m-0">
        Deze berekening is een indicatie en geen offerte. Aan de berekening kunnen geen rechten
        worden ontleend.
      </p>
    </div>
  </div>
</div>
