<mat-stepper
  orientation="vertical"
  #stepper
  class="mortgage-stepper"
  (selectionChange)="onStepChange($event)"
>
  <!-- Stap 1 -->
  <mat-step>
    <ng-template matStepLabel>Persoonlijk</ng-template>
  </mat-step>

  <!-- Stap 2 -->
  <mat-step>
    <ng-template matStepLabel>Inkomen</ng-template>
  </mat-step>

  <!-- Stap 3 -->
  <mat-step>
    <ng-template matStepLabel>Wonen</ng-template>
  </mat-step>

  <!-- Stap 4 -->
  <mat-step>
    <ng-template matStepLabel>Resultaat</ng-template>
  </mat-step>
</mat-stepper>
