.stepper {
  --stepper-color: #222356;
  --stepper-border-color: var(--bs-border-color);

  position: relative;
}

.stepper-item {
  position: relative;
  color: var(--bs-secondary-color);
}

/* Lijn tussen de stappen */
.stepper-item:not(:last-child)::after {
  content: '';
  position: absolute;

  top: 1.25rem;
  left: calc(50% + 1.5rem);

  width: calc(100% - 3rem);
  height: 1px;
}

/* Cirkel */
.stepper-indicator {
  position: relative;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.5rem;
  height: 2.5rem;

  border: 1px solid var(--stepper-border-color);
  border-radius: 50%;

  background: var(--bs-body-bg);
  color: var(--bs-secondary-color);
}

/* Actieve stap */
.stepper-item.active {
  color: var(--stepper-color);
}

.stepper-item.active .stepper-indicator {
  border-color: var(--stepper-color);
  background: var(--stepper-color);
  color: white;
}
