@use '@angular/material' as mat;
@use 'sass:map';
@use '_variables' as awwp;

.awwp-text-primary {
  color: awwp.$awwp-color-primary !important;
}

.awwp-bg-primary {
  background-color: awwp.$awwp-color-primary !important;
  color: white !important;
}

.awwp-active {
  background-color: awwp.$awwp-color-primary !important;
  color: white !important;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v145/flUhRq6tzZclQEJ-Vdg-IuiaDsNcIhQ8tQ.woff2)
    format('woff2');
}

.material-icons {
  font-family: 'Material Icons', serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

$mortgage-calculator-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: mat.m2-define-palette(awwp.$stepper-palette, A200, A100, A400),
      accent: mat.m2-define-palette(awwp.$stepper-palette, A200, A100, A400),
    ),
  )
);

@include mat.all-component-themes($mortgage-calculator-theme);

.flex-item {
  flex: 1 1;
}
